<html>
<head>
    <title>Train Project</title>
    <style>
        fieldset{
            border: 2px solid red;
            font-family: "Century Gothic", "Arial", sans-serif;
            padding: 10px;
            max-width: 800px;
            margin: 10px auto;
        }
        fieldset legend{
            border-left: 2px solid red;
            border-right: 2px solid red;
            color: #aaaaaa;
            text-transform: uppercase;
            padding: 0 8px 0 8px;
            user-select: none;
        }
        table{
            border-collapse: collapse;
        }
        table tr:nth-child(2), table#route tr:nth-child(3){
            color: #aaaaaa;
            text-transform: uppercase;
            font-size: 11px;
            user-select: none;
        }
        fieldset input, fieldset select{
            font-size: 16px;
            margin-right: 10px;
            font-family: "Century Gothic", "Arial", sans-serif;
            border-radius: 3px;
            border: 1px solid #aaaaaa;
            outline: none;
            padding: 2.5px
        }
        fieldset input[type='submit']{
            border: 1.5px solid #aaaaaa;
            color: #aaaaaa;
            background-color: transparent;
            padding: 2px 5px 2px 5px;
            border-radius: 5px;
            font-size: 16px;
        }
        fieldset input[type='submit']:hover{
            border-color: red;
            color: red;
            font-weight: bold;
        }
        table#route{
            margin-top: 5px;
            margin-bottom: 15px;
        }
        table#route th{
            font-size: 14px;
            color: red;
            text-align: left;
            padding-top: 5px;
            text-transform: uppercase;
            user-select: none;
            padding-right: 10px;
        }
    </style>
</head>
<body>
    <fieldset>
        <legend>Add Rolling Stock</legend>
        <form action="/addRollingStock" method="POST">
            <table>
                <tr>
                    <td><input type="number" name="weight"/></td>
                    <td>
                        <select name="type">
                            <option value="engine">Engine</option>
                            <option value="dining">Dining</option>
                            <option value="storage">Storage</option>
                            <option value="sleeper">Sleeper</option>
                        </select>
                    </td>
                    <td><input type="text" name="model"/></td>
                    <td><input type="number" value="0" name="horsePower"/></td>
                    <td><input type="submit" name="submit"/></td>
                </tr>
                <tr>
                    <td>Weight</td>
                    <td>Type</td>
                    <td>Model</td>
                    <td>HorsePower</td>
                </tr>
            </table>
        </form>
    </fieldset>
    <fieldset>
        <legend>Add Company</legend>
        <form action="/addCompany" method="POST">
            <table>
                <tr>
                    <td><input type="text" name="name"/></td>
                    <td><input type="submit" name="submit"/></td>
                </tr>
                <tr>
                    <td>Name</td>
                </tr>
            </table>
        </form>
    </fieldset>
    <fieldset>
        <legend>Add Empty Train</legend>
        <form action="/addTrain" method="POST">
            <input type="submit" name="submit"/>
        </form>
    </fieldset>
    <fieldset>
        <legend>Add Train to Company</legend>
        <form action="/addTrainToCompany" method="POST">
            <select name="company">
                <% for(var i = 0; i < company.length; i++) { %>
                <option value="<%= company[i].id %>"><%= company[i].name %></option>
                <% } %>
            </select>
            <select name="train">
                <% for(var i = 0; i < train.length; i++) { %>
                <option value="<%= train[i].id %>"><%= train[i].formal() %></option>
                <% } %>
            </select>
            <input type="submit" name="submit"/>
        </form>
    </fieldset>
    <fieldset>
        <legend>Add Rolling Stock to Train</legend>
        <form action="/addRollingStockToTrain" method="POST">
            <select name="train">
                <% for(var i = 0; i < train.length; i++) { %>
                <option value="<%= train[i].id %>"><%= train[i].formal() %></option>
                <% } %>
            </select>
            <select name="rollingStock">
                <% for(var i = 0; i < rollingStock.length; i++) { %>
                <option value="<%= rollingStock[i].id %>"><%= rollingStock[i].formal() %></option>
                <% } %>
            </select>
            <input type="submit" name="submit"/>
        </form>
    </fieldset>
    <fieldset>
        <legend>Set Train Route</legend>
        <form action="/setTrainRoute" method="POST">
            <select name="train">
                <% for(var i = 0; i < train.length; i++) { %>
                <option value="<%= train[i].id %>"><%= train[i].formal() %></option>
                <% } %>
            </select>
            <input name="submit" type="submit"/>
            <table id="route">
                <tr>
                    <th>Origin</th>
                    <td><input name="originName" type="text"/></td>
                    <td><input name="originLong" type="number"/></td>
                    <td><input name="originLat" type="number"/></td>
                </tr>
                <tr>
                    <th>Destination</th>
                    <td><input name="destinationName" type="text"/></td>
                    <td><input name="destinationLong" type="number"/></td>
                    <td><input name="destinationLat" type="number"/></td>

                </tr>
                <tr>
                    <td></td>
                    <td>Name</td>
                    <td>Longitude</td>
                    <td>Latitude</td>
                </tr>
            </table>
        </form>
    </fieldset>
</body>
</html>