<!DOCTYPE html>
<html>
<head>
    <title>Train Project</title>
    <style>
        body{
            min-width: 800px;
        }
        fieldset{
            border: 2px solid red;
            font-family: "Century Gothic", "Arial", sans-serif;
            padding: 10px;
            max-width: 800px;
            margin: 10px auto;
        }
        nav{
            font-family: "Century Gothic", "Arial", sans-serif;
            padding: 10px;
        }
        fieldset legend{
            border-left: 2px solid red;
            border-right: 2px solid red;
            color: #aaaaaa;
            text-transform: uppercase;
            padding: 0 8px 0 8px;
            user-select: none;
        }
        table{
            border-collapse: collapse;
        }
        header table tr:nth-child(2), table#route tr:nth-child(3){
            color: #aaaaaa;
            text-transform: uppercase;
            font-size: 11px;
            user-select: none;
        }
        fieldset input, fieldset select{
            font-size: 16px;
            margin-right: 10px;
            font-family: "Century Gothic", "Arial", sans-serif;
            border-radius: 3px;
            border: 1px solid #aaaaaa;
            outline: none;
            padding: 2.5px
        }
        fieldset input[type='submit']{
            border: 1.5px solid #aaaaaa;
            color: #aaaaaa;
            background-color: transparent;
            padding: 2px 5px 2px 5px;
            border-radius: 5px;
            font-size: 16px;
        }
        fieldset input[type='submit']:hover{
            border-color: red;
            color: red;
            font-weight: bold;
        }
        table#route{
            margin-top: 5px;
            margin-bottom: 15px;
        }
        table#route th{
            font-size: 14px;
            color: red;
            text-align: left;
            padding-top: 5px;
            text-transform: uppercase;
            user-select: none;
            padding-right: 10px;
        }
        img{
            height: 34px;
            position: fixed;
            top: 0;
            right: 0;
            padding: 8px;
            opacity: .2;
        }
        img:hover{
            opacity: .8;
        }
        fieldset.d a{
            color: red;
            font-size: 11px;
            text-decoration: none;
            display: inherit;
        }
        fieldset.d a:hover{
            color: black;
            font-style: italic;
        }
        fieldset.d table{
            float:left;
            max-width: 300px;
            margin-right: 10px;
        }
        fieldset.d td.h{
            color: #aaaaaa;
            font-size: 11px;
            text-transform: uppercase;
            user-select: none;
        }
        fieldset.d:target{
            border-color: blue;
        }
        fieldset.d:target legend{
            font-weight: bold;
            color: blue;
            border-color: blue;
        }
        fieldset.d:target a{
            color: blue;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $("document").ready(function(){
            var rot = false;
            $("header").hide();
            $("img").click(function(){
                $("header").toggle();
                $("nav").toggle();
                animateRot(250,rot);
                rot=!rot;
            });
        });
        function animateRot(s,r){
            if(r){
                for(var i=0; i<s; i++){
                    eval("setTimeout(function(){$('img').css('transform', 'rotate("+(45/s*i)+"deg)')},"+i+")");
                }
            }else{
                for(var i=s; i>=0; i--){
                    eval("setTimeout(function(){$('img').css('transform', 'rotate("+(45/s*i)+"deg)')},"+(s-i)+")");
                }
            }
        }
    </script>
</head>
<body>
    <header>
        <fieldset>
            <legend>Add Rolling Stock</legend>
            <form action="/addRollingStock" method="POST">
                <table>
                    <tr>
                        <td><input type="number" name="weight"/></td>
                        <td>
                            <select name="type">
                                <option value="engine">Engine</option>
                                <option value="dining">Dining</option>
                                <option value="storage">Storage</option>
                                <option value="sleeper">Sleeper</option>
                            </select>
                        </td>
                        <td><input type="text" name="model"/></td>
                        <td><input type="number" value="0" name="horsePower"/></td>
                        <td><input type="submit" name="submit"/></td>
                    </tr>
                    <tr>
                        <td>Weight</td>
                        <td>Type</td>
                        <td>Model</td>
                        <td>HorsePower</td>
                    </tr>
                </table>
            </form>
        </fieldset>
        <fieldset>
            <legend>Fill Rolling Stock</legend>
            <form action="/fillRollingStock" method="POST">
                <table>
                    <tr>
                        <td>
                            <select name="rollingStock">
                                <% for(var i = 0; i < rollingStock.length; i++) { %>
                                <option value="<%= rollingStock[i].id %>"><%= rollingStock[i].formal() %></option>
                                <% } %>
                            </select>
                        </td>
                        <td><input name="contentName" type="text"/></td>
                        <td><input name="contentNumber" type="number"/></td>
                        <td><input type="submit" name="submit"/></td>
                    </tr>
                    <tr>
                        <td>Rolling Stock</td>
                        <td>Content Name</td>
                        <td>Content Weight</td>
                    </tr>
                </table>
            </form>
        </fieldset>
        <fieldset>
            <legend>Add Company</legend>
            <form action="/addCompany" method="POST">
                <table>
                    <tr>
                        <td><input type="text" name="name"/></td>
                        <td><input type="submit" name="submit"/></td>
                    </tr>
                    <tr>
                        <td>Name</td>
                    </tr>
                </table>
            </form>
        </fieldset>
        <fieldset>
            <legend>Add Empty Train</legend>
            <form action="/addTrain" method="POST">
                <input type="submit" name="submit"/>
            </form>
        </fieldset>
        <fieldset>
            <legend>Add Train to Company</legend>
            <form action="/addTrainToCompany" method="POST">
                <table>
                    <tr>
                        <td>
                            <select name="company">
                                <% for(var i = 0; i < company.length; i++) { %>
                                <option value="<%= company[i].id %>"><%= company[i].name %></option>
                                <% } %>
                            </select>
                        </td>
                        <td>
                            <select name="train">
                                <% for(var i = 0; i < train.length; i++) { %>
                                <option value="<%= train[i].id %>"><%= train[i].formal() %></option>
                                <% } %>
                            </select>
                        </td>
                        <td>
                            <input type="submit" name="submit"/>
                        </td>
                    </tr>
                    <tr>
                        <td>Company</td>
                        <td>Train</td>
                    </tr>
                </table>
            </form>
        </fieldset>
        <fieldset>
            <legend>Add Rolling Stock to Train</legend>
            <form action="/addRollingStockToTrain" method="POST">
                <table>
                    <tr>
                        <td>
                            <select name="train">
                                <% for(var i = 0; i < train.length; i++) { %>
                                <option value="<%= train[i].id %>"><%= train[i].formal() %></option>
                                <% } %>
                            </select>
                        </td>
                        <td>
                            <select name="rollingStock">
                                <% for(var i = 0; i < rollingStock.length; i++) { %>
                                <option value="<%= rollingStock[i].id %>"><%= rollingStock[i].formal() %></option>
                                <% } %>
                            </select>
                        </td>
                        <td>
                            <input type="submit" name="submit"/>
                        </td>
                    </tr>
                    <tr>
                        <td>Train</td>
                        <td>Rolling Stock</td>
                    </tr>
                </table>
            </form>
        </fieldset>
        <fieldset>
            <legend>Add Rolling Stock to Company</legend>
            <form action="/addRollingStockToCompany" method="POST">
                <table>
                    <tr>
                        <td>
                            <select name="rollingStock">
                                <% for(var i = 0; i < rollingStock.length; i++) { %>
                                <option value="<%= rollingStock[i].id %>"><%= rollingStock[i].formal() %></option>
                                <% } %>
                            </select>
                        </td>
                        <td>
                            <select name="company">
                                <% for(var i = 0; i < company.length; i++) { %>
                                <option value="<%= company[i].id %>"><%= company[i].name %></option>
                                <% } %>
                            </select>
                        </td>
                        <td>
                            <input type="submit" name="submit"/>
                        </td>
                    </tr>
                    <tr>
                        <td>Rolling Stock</td>
                        <td>Company</td>
                    </tr>
                </table>
            </form>
        </fieldset>
        <fieldset>
            <legend>Set Train Route</legend>
            <form action="/setTrainRoute" method="POST">
                <select name="train">
                    <% for(var i = 0; i < train.length; i++) { %>
                    <option value="<%= train[i].id %>"><%= train[i].formal() %></option>
                    <% } %>
                </select>
                <input name="submit" type="submit"/>
                <table id="route">
                    <tr>
                        <th>Origin</th>
                        <td><input name="originName" step='.0000001' type="text"/></td>
                        <td><input name="originLong" step='.0000001' type="number"/></td>
                        <td><input name="originLat" step='.0000001' type="number"/></td>
                    </tr>
                    <tr>
                        <th>Destination</th>
                        <td><input name="destinationName" step='.0000001' type="text"/></td>
                        <td><input name="destinationLong" step='.0000001' type="number"/></td>
                        <td><input name="destinationLat" step='.0000001' type="number"/></td>

                        </tr>
                        <tr>
                            <td></td>
                            <td>Name</td>
                            <td>Longitude</td>
                            <td>Latitude</td>
                        </tr>
                    </table>
                </form>
            </fieldset>
    </header>
    <img src="https://png.icons8.com/metro/1600/plus.png">
    <nav>
        <% if ((company.length + train.length + rollingStock.length) < 1){%>

            There is no data in the system; please press the add data button to begin.
        <%}else{%>
            <%for (var i=0; i<company.length; i++) {%>
                <fieldset class="d" id="<%= company[i].id%>">
                    <legend><%= company[i].name %></legend>
                    <% if(company[i].fleet.length>0){%>
                    <table>
                        <tr>
                            <td class="h">Fleet</td>
                        </tr>
                        <%for (var j=0; j<company[i].fleet.length; j++){%>
                            <tr><td><a href="<%= "#"+company[i].fleet[j]%>"><%=company[i].fleet[j]%></a></td></tr>
                        <%}%>
                    </table>
                    <%}%>
                    <% if(company[i].trains.length>0){%>
                    <table>
                        <tr>
                            <td class="h">Trains</td>
                        </tr>
                        <%for (var j=0; j<company[i].trains.length; j++){%>
                            <tr><td><a href="<%= "#"+company[i].trains[j]%>"><%=company[i].trains[j]%></a></td></tr>
                        <%}%>
                    </table>
                    <%}%>
                </fieldset>
            <%}%>
            <%for (var i=0; i<train.length; i++){%>
                <fieldset class="d" id="<%= train[i].id %>">
                    <legend><%= train[i].formal()%></legend>
                    <% if(train[i].engines.length>0){%>
                    <table>
                        <tr>
                            <td class="h">Engines</td>
                        </tr>
                        <%for (var j=0; j<train[i].engines.length; j++){%>
                        <tr><td><a href="<%= "#"+train[i].engines[j]%>"><%=train[i].engines[j]%></a></td></tr>
                        <%}%>
                    </table>
                    <%}%>
                    <% if(train[i].cars.length>0){%>
                    <table>
                        <tr>
                            <td class="h">Cars</td>
                        </tr>
                        <%for (var j=0; j<train[i].cars.length; j++){%>
                        <tr><td><a href="<%= "#"+train[i].cars[j]%>"><%=train[i].cars[j]%></a></td></tr>
                        <%}%>
                    </table>
                    <%}%>
                    <% if (train[i].origin != []) {%>
                    <table>
                        <tr><td class="h">Origin</td></tr>
                        <tr><td><%= train[i].origin[2]%></td></tr>
                        <tr>

                            <td> <a target="_blank" href="http://www.google.com/maps/place/<%= train[i].origin[1]%>,<%= train[i].origin[0]%>"><%= train[i].origin[1]%>,<%= train[i].origin[0]%></a></td>

                        </tr>
                    </table>
                    <%}%>
                    <% if (train[i].destination != []) {%>
                    <table>
                        <tr><td class="h">Destination</tr>
                        <tr><td><%= train[i].destination[2]%></td></tr>
                        <tr>
                            <td><a target="_blank" href="http://www.google.com/maps/place/<%= train[i].destination[1]%>,<%= train[i].destination[0]%>"><%= train[i].destination[1]%>,<%= train[i].destination[0]%></a></td>
                            </tr>
                    </table>
                    <%}%>
                    <% if (train[i].calculateDistance() != 0) {%>
                    <table>
                      <tr><td class="h">Distance</td></tr>
                        <tr><td><%= Math.floor(train[i].calculateDistance()/1000)%> km</td></tr>
                    </table>
                    <%}%>
                </fieldset>
            <%}%>
            <%for (var i=0; i<rollingStock.length; i++){%>
                <fieldset class="d" id="<%= rollingStock[i].id %>">
                    <legend><%= rollingStock[i].formal()%></legend>
                    <table>
                        <tr><td class="h">Type</td></tr>
                        <tr><td><%= rollingStock[i].type%></td></tr>
                    </table>
                    <table>
                        <tr><td class="h">Weight</td></tr>
                        <tr><td><%= rollingStock[i].weight%></td></tr>
                    </table>
                    <table>
                        <tr><td class="h">Make & Model</td></tr>
                        <tr><td><%= rollingStock[i].makemodel%></td></tr>
                    </table>
                    <% if(rollingStock[i].horsepower > 0) {%>
                        <table>
                            <tr><td class="h">Horsepower</td></tr>
                            <tr><td><%= rollingStock[i].horsepower%></td></tr>
                        </table>
                    <%}%>
                    <% if (rollingStock[i].contents.length>0){%>
                    <table>
                        <tr><td class="h">Contents</td></tr>
                        <% for(var o = 0; o < rollingStock[i].contents.length; o ++) {%>
                        <tr>
                            <td><%= rollingStock[i].contents[o][0]%> pounds of <%= rollingStock[i].contents[o][1]%></td>
                        </tr>
                        <%}%>
                    </table>
                    <%}%>
                </fieldset>
            <%}%>
        <%}%>
    </nav>
</body>
</html>